<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad de Congreso: Alumnado</title>
    <link href="../styles/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/05fa8b8fbe.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/b05ae7973d.js"></script>
    <link href="../img/icon.png" rel="icon" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body id="body-sistemas">
    <img src="../img/fondo1.jpg" id="img2" alt="logo-de-fondo">
    <header id="barra">
        <nav id="nav">
            <a href="https://www.ucongreso.edu.ar/" target="blank"><img id="img" src="../img/logouc.png" alt="logo-uc"></a>
            <ul id="lista">
                <li class="lista"><a href="../index.html">Inicio</a></li>
                <li class="lista"> <a href="calendario.html">Alumnado</a></li>
                <li class="lista"> <a href="contacto.html">Contactos</a></li>
                <li class="lista"><a href="sistemas.html">Sistemas</a></li>
                <li class="lista">Tesorería</li>
                <li class="lista"><a href=facultades.html>Facultades</a></li>
                <li class="lista2"><a href="nuevos-postulantes.html">Nuevos Postulantes</a></li>
            </ul>
        </nav>
    </header>

<body id="body">

<div id="bar-profes-container-padre">
    <div id=bar-profes-container>   
        <div id="bar-profes">
            <ul id="ul-profes">
                <li id="li-profes"><a href="contacto-abogacia.html">Abogacía</a></li>
                <li id="li-profes"><a href="contacto-contador.html">Contador Público</a></li>
                <li id="li-profes"><a href="contacto-psicologia.html">Psicología</a></li>
                <li id="li-profes"><a href="contacto-radiologia.html">Radiología</a></li>
                <li id="li-profes"><a href="contacto-instrumentacion.html">Instrumentación</a></li>
                <li id="li-profes"><a href="contacto-comunicacion.html">Comunicación</a></li>
                <li id="li-profes"><a href="contacto-psicopedagogia.html">Psicopedagogía</a></li>
                <li id="li-profes"><a href="contacto-csdelaedu.html">Cs de la Educación</a></li>
            </ul>
        </div>
        
    </div>
</div>
<div class="container-table-main">
<div class="container-table">
    <table class="table">
        <tr class="file">
            <td class="column">
                Apellido y Nombre
            </td>
            <td class="column">
                Materia
            </td>
            <td class="column">
                Correo
            </td>
            <td class="column">
                Teléfono
            </td>
        </tr>

        <tr>
            <td>
                Emanuel Rodriguez
            </td>
            <td>
                Auditoría
            </td>
            <td>
                Emarulos@gmail.com
            </td>
            <td>
                26168018913
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

         <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>


        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </table>
</div>
</div>



</body>
    





    <div id="footerContainer">
        <footer id="footer3">
            <ul id="listRedes">

                <li class="listRedes2"><a href="https://www.instagram.com/ucongresoeste/" target="blank" class="iconos"><i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
                <li class="listRedes2"><a href="https://www.facebook.com/ucongresoeste" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a></li>
                <li class="listRedes2"><a href="https://drive.google.com/drive/my-drive" target="blank"><i class="fab fa-google-drive"></i>
                </a></li>
                <li class="listRedes2"><a href="https://mail.google.com/mail/u/0/" target="blank"><i class="fa fa-envelope" aria-hidden="true"></i>
                </a></li>
                <li class="listRedes"><a href="https://trello.com/" target="blank"><i class="fab fa-trello"></i></a></li>
            </ul>
         
         </footer>
    </div>


</body>
</html>