<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad de Congreso: Sede Este</title>
    <link href="../styles/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/05fa8b8fbe.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/b05ae7973d.js"></script>
    <link href="../img/icon.png" rel="icon" type="image/png >
</head>
<body id="body">
    <img src="../img/fondo1.jpg" id="img2" alt="logo-de-fondo">
    <header id="barra">
        <nav id="nav">
            <a href="https://www.ucongreso.edu.ar/" target="blank"><img id="img" src="../img/logouc.png" alt="logo-uc"></a>
            <ul id="lista">
                <li class="lista"><a href="../index.html">Inicio</a></li>
                <li class="lista"> <a href="calendario.html">Alumnado</a></li>
                <li class="lista">Contactos</li>
                <li class="lista"><a href="sistemas.html">Sistemas</a></li>
                <li class="lista">Tesorería</li>
                <li class="lista"><a href="facultades.html">Facultades</a></li>
                <li class="lista2"> <a href="nuevos-postulantes.html">Nuevos Postulantes</a></li>
            </ul>
        </nav>
    </header>

    <main id="main">
        <div id="facultades-container">
            <a href="" class="link-uno">
                <div class="facultades" id="facultad-one">
                <p  >Facultad de Ciencias de la Salud</p>
                </div>
            </a>
            <a href="" class="link-uno">
             <div class="facultades" id="facultad-two">
                <p >Facultad de Ciencias Económicas</p>
             </div>
            </a>
            <a href="" class="link-uno">
                <div class="facultades" id="facultad-three">
                <p >Facultad de Ciencias Jurídicas</p>
                </div>
            </a>    
            <a href="" class="link-uno">
                <div class="facultades" id="facultad-four">
                <p >Facultad de Humanidades</p>
                </div>
            </a>        
            

        </div>

    </main>


    <div id="footerContainer">
        <footer id="footer2">
            <ul id="listRedes">

                <li class="listRedes"><a href="https://www.instagram.com/ucongresoeste/" target="blank" class="iconos"><i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
                <li class="listRedes"><a href="https://www.facebook.com/ucongresoeste" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a></li>
                <li class="listRedes"><a href="https://drive.google.com/drive/my-drive" target="blank"><i class="fab fa-google-drive"></i>
                </a></li>
                <li class="listRedes"><a href="https://mail.google.com/mail/u/0/" target="blank"><i class="fa fa-envelope" aria-hidden="true"></i>
                </a></li>
                <li class="listRedes"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </li>
            </ul>
         
         </footer>
    </div>
    
</body>
</html>