<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad de Congreso: Sede Este</title>
    <link href="../img/icon.png" rel="icon" type="image/png >
    <link href="styles/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="../styles/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/05fa8b8fbe.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/b05ae7973d.js"></script>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>



<body id="body">
    <img src="../img/fondo1.jpg" id="img2" alt="logo-de-fondo">
    <header id="barra">
        <nav id="nav">
            <a href="https://www.ucongreso.edu.ar/" target="blank"><img id="img" src="../img/logouc.png" alt="logo-uc"></a>
            <ul id="lista">
                <li class="lista"><a href="../index.html">Inicio</a></li>
                <li class="lista"> <a href="calendario.html">Alumnado</a></li>
                <li class="lista">Contactos</li>
                <li class="lista"><a href="sistemas.html">Sistemas</a></li>
                <li class="lista">Tesorería</li>
                <li class="lista"><a href="facultades.html">Facultades</a></li>
                <li class="lista2"> <a href="nuevos-postulantes.html">Nuevos Postulantes</a></li>
            </ul>
        </nav>
    </header>

<!-- BARRAS -->


      <div id="bar">
            <span id="tittle">Cantidad total de inscriptos en 2021</span>
             <div class="progress" style="height: 25px;">

        <!-- Contador Público -->
        <span class="carrera"> Contador Público </span> 

            <div class="progress-bar progress-bar-striped progress-bar-animated" 
                   role="progressbar" aria-valuenow="75" aria-valuemin="0" 
                   aria-valuemax="100" style="width: 35%"> <h6>42% (42/100)</h6></div>
            </div>

             <br>

             <!-- Radiología -->

            <div class="progress" style="height: 25px;">
                  <span class="carrera"> Radiología‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
            ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
                  </span> 
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" 
                  role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><h6>45% (45 / 100)</h6></div> -->
            </div>

      <br>
      <!-- Instrumentación Quirúrgica -->
      <div class="progress" style="height: 25px;">
        <span class="carrera"> Inst. Quirúrgica‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 50%"><h6>50%</h6></div>
      </div>

      <br>
      <!-- Psicología -->
      <div class="progress" style="height: 25px;">
        <span class="carrera"> Psicología‎      ‏‏‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
            ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 67%"><h6>67%</h6></div>
      </div>

      <br>
      <!-- Psicopedagogía -->
      <div class="progress" style="height: 25px;">
        <span class="carrera"> Psicopedagogía‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 70%"><h6>70%</h6></div>
      </div>

      <br>
      <!-- Ciencias de la Educación -->
      <div class="progress" style="height: 25px;">
        <span class="carrera"> Cs de la Edu.‎‎      ‏‏‎‎      ‏‏‎
            ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 77%"><h6>77%</h6></div>
      </div>

      <br>
      <!-- Abogacía -->
      <div class="progress" style="height: 25px;">
        <span class="carrera"> Abogacía ‎‎      ‏‏‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
            ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar  progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 50%"><h6> 66% (66/100)</h6></div>
      </div>

      <br>
      <!-- Comercio Exterior -->
      <div class="progress" style="height: 25px;">
        <span class="carrera"> C. Exterior ‎         ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
            ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 82%"><h6>82%</h6></div>
      </div>

      <br>
      <!-- Administración -->
       <div class="progress" style="height: 25px;">
        <span class="carrera"> Administración‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
        </span> 
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" 
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
         style="width: 80%"><h6>22%</h6></div>
      </div>


      <!-- Fecha de Actualización -->


             <div>
                   <div id="texto"> Fecha de Actualización: 06/01
                    
                    
                
                </div>
            </div>


            <div>
                <div id="texto2"><a href=" ">Carpeta de Inscripciones 2021</a> </div>
            </div>



            <!-- Planilla de EXCEL -->

      </div>

      <div class="excel">
            <iframe class="caca " src=" "></iframe>
      </div>

    <span id="preMedicas">
        PRE - MEDICAS
    </span>

      <div class="excel">
        <iframe class="caca F" src=" "></iframe>

      </div>


      <span class="rivadavia G">
          RIVADAVIA

      </span>

      <div class="excel">
        <iframe  class="caca" src=" "></iframe>
      </div>
     
<span id="up"><a href="#barra">Ir arriba</a></span>
      
     

      <div id="footerContainer">
            <footer id="footer2">
                <ul id="listRedes">
    
                    <li class="listRedes2"><a href="https://www.instagram.com/ucongresoeste/" target="blank" class="iconos"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></li>
                    <li class="listRedes2"><a href="https://www.facebook.com/ucongresoeste" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i>
                    </a></li>
                    <li class="listRedes2"><a href="https://drive.google.com/drive/my-drive" target="blank"><i class="fab fa-google-drive"></i>
                    </a></li>
                    <li class="listRedes2"><a href="https://mail.google.com/mail/u/0/" target="blank"><i class="fa fa-envelope" aria-hidden="true"></i>
                    </a></li>
                    <li class="listRedes2"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </li>
                </ul>
             
             </footer>
        </div>
      
  
    
</body>

</html>